/*Ultima Atualização da Pagina (18/08/2022)*/

* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

#Bar {
    background-color: black;
    list-style-type: none;
    padding-bottom: 30px;
    justify-content: center;
    max-width: 1920px;
}

#Bar a {
    text-decoration: none;
    color: white;
}

#Page {
    float: right;
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
    margin-top: 0;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 40px;
}

#Fachada {
    height: 10cm;
    border-style: ridge;
    border-color: darkred;
    border-radius: inherit;
    background: url('../Img/Fachada.png');
    background-size: cover;
}

#Labels {
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    margin: 12%;
}

#Trio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1cm;
    padding-top: 1cm;
}

#Trio img {
    width: 10cm;
    max-width: 100%;
    height: auto;
}

.Pimg {
    text-align: center;
}

#Labels label {
    font-family: fantasy;
}

#TxtMap h4 {
    text-align: center;
    font-size: 13px;
}

#TxtMap h5 {
    text-align: center;

}