/*Ultima Atualização da Pagina (18/08/2022)*/

#Prof {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1cm;
    padding-top: 1cm;
}

#Prof img {
    width: 10cm;
    max-width: 100%;
    height: auto;
}

.Pimg {
    text-align: center;
    padding-bottom: 10px;
}

#Details{
    background-color: rgb(58 58 58);
        color: white;
        text-align: center;
        padding: 15px;
        margin-bottom: 1cm;
}
#Details summary{
    font-size: 20px;
}

#Details p{
    padding: 5px;
}
#Details ul{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}